{% extends 'base.html' %}

{% block content %}

<table class="table table-hover">
    <tbody>

{% for item in tasks %}
{% if item.complete == False %}
<tr>
    <td class="col-1 align-top pt-3">
        <a href="{% url 'tick_task' item.id %}"><span class="material-icons" style="color: #2d81e1;">radio_button_unchecked</span></a>
    </td>
    <td class="col-7 align-top pt-3">
        <p class="task-name p-0 m-0">{{ item }}</p>
        <div class="collapse" id="collapse{{item.id}}">
            <p class="task-detail mt-2 mb-0">{{item.extra_info}}</p>
            <hr class="mb-2 mt-2">
            {% for cats in item.category.all %}
            <span class="badge badge-{{cats.color}}">{{cats.name}}</span>
            {% endfor %}
            <!-- <span class="badge badge-gray">Uncategorized</span>
            <span class="badge badge-blue">Work</span>
            <span class="badge badge-purple">School</span>
            <span class="badge badge-red">Priority 1</span> -->
        </div>
    </td>
    <td class="col-2 align-top pt-3">
        {% if item.extra_info != '' %}
        <p class="task-name p-0 m-0">
            <a data-bs-toggle="collapse" href="#collapse{{item.id}}" role="button" aria-expanded="false">
                <span class="material-icons text-black-75">more_horiz</span>
            </a>
        </p>
        {% endif %}
    </td>
    <td class="col-2 align-top pt-3 text-end">
        <div class="hide">
            <a href="{% url 'update' item.id %}"><span class="material-icons text-black-75 pe-2">mode_edit</span></a> <a href="{% url 'delete' item.id %}"><span class="material-icons text-danger">remove_circle</span></a>
        </div>
    </td>
</tr>
{% endif %}
{% endfor %}

{% for item in tasks %}
{% if item.complete == True %}
<tr>
    <td class="col-1 align-top pt-3">
        <a href="{% url 'untick_task' item.id %}"><span class="material-icons text-black-50">radio_button_checked</span></a>
    </td>
    <td class="col-7 align-top pt-3">
        <p class="task-name p-0 m-0 text-black-50">{{ item }}</p>
        <div class="collapse" id="collapse{{item.id}}">
            <p class="task-detail mt-2">{{item.extra_info}}</p>
        </div>
    </td>
    <td class="col-2 align-top pt-3">
        {% if item.extra_info != '' %}
        <p class="task-name p-0 m-0">
            <a data-bs-toggle="collapse" href="#collapse{{item.id}}" role="button" aria-expanded="false">
                <span class="material-icons text-black-75">more_horiz</span>
            </a>
        </p>
        {% endif %}
    </td>
    <td class="col-2 align-top pt-3 text-end">
        <div class="hide">
            <a href="{% url 'update' item.id %}"><span class="material-icons text-black-75 pe-2">mode_edit</span></a> <a href="{% url 'delete' item.id %}"><span class="material-icons text-danger">remove_circle</span></a>
        </div>
    </td>
</tr>
{% endif %}
{% endfor %}
</tbody>
</table>

{% endblock %}
