{% extends 'base.html' %}

{% block content %}

<h1>test page</h1>

<style>

.test-form ul {
    list-style-type: none;
    padding-left: 0px;
}


</style>

<form action="" method="POST">
{% csrf_token %}
<div class="test-form">
    <div class="mb-3">
        <label class="form-label">Task</label>
        <input type="text" name="title" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Extra Info</label>
        <input type="text" name="extra_info" class="form-control">
    </div>
    {{ detail_form.category }}
    <input type="submit">
</div>
</form>



{% endblock %}
